<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
  <h2>Home</h2>

  <form>
    <p>
      <button formaction="@Url.Content("~/home/login")">Mit Office 365 verbinden</button>
    </p>
  </form>
</body>
</html>
